/* entry point css */

.image-loader{
    float: left;
    width: 150px !important;
    margin-left: 20px;
    margin-top: 8px;
}

.file-input{
    width: 150px !important;
}

.btn {
    width: 80px;
}

.main-container{
    height: 800px;
    display: flex;
    flex-direction: row;
}

.left-container{
    width: 360px;
    float: left;
    background-color: dodgerblue;
}

.right-container{
    float: left;
    padding-left: 20px;
    width: 100%;
    overflow-y: scroll;
}

.shape-block {
    height: 100%;
    position: relative;
}

.shape-block img  {
    display: block;
    max-width: 80%;
    position: absolute;
    bottom:40px;
    left:50%;
    transform:translateX(-50%);
}

